/* ================== START - print.css ================== 
print.css
revision 637
-------------------------------------*/


body { font-family: arial; }
#header, #crumbtrail, #footerTop, #footerBottom, #introArea, .slidingDoorBlue, #map, 
#eventPageMap, #tabs, #advancedSearchForm, #searchPagination, .motorcycleComparison form { 
    display: none; 
}
ul.motorcycleThumbList { list-style-type: none; }
ul.motorcycleThumbList img, #motorcycleOverviewGallery .photo .photoInner img { 
    border: none; 
}
#motorcycleSpecTable { width: 100%; }
h1.bannerHeading { font-size: 32px; }
a { color: #333; text-decoration: none; }


/* ================== END - print.css ================== */